:root {
  /* COLORS */
  /* Main */
  --bg-main-color: rgb(69, 69, 69);
  --bg-secondary-color: darkolivegreen;
  --accent-color: yellowgreen;
  --font-main-color: white;
  --font-secondary-color: lightgray;
  --card-bg-color: rgb(100, 100, 100);
  --card-active: rgb(120, 120, 120);
  --secondary-active: olive;
  /* Header */
  --head-bg-color: rgba(255, 255, 255, 0.05);
  /* Sidebar */

  /* Shadow */
  --shadow-color: rgba(0, 0, 0, 0.2);
  --card-shadow-color: rgba(0, 0, 0, 0.4);

  /* FONT SIZES */
  font-size: 80%;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100dvh;

  background-color: var(--bg-main-color);
  color: var(--font-main-color);

  display: grid;
  grid-template: 1fr 5fr / 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

body > * {
  padding: 20px;
}

header {
  grid-area: header;

  background-color: var(--head-bg-color);

  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  gap: 20px;

  padding-inline: 40px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-bar input {
  width: 100%;
  height: 30px;

  padding: 10px;

  background-color: var(--card-active);

  border: none;
  border-radius: 15px;

  box-shadow: 2px 2px 4px var(--card-shadow-color);
}

header > .user-section {
  display: flex;
  justify-content: right;
  align-items: center;
}

header > .welcome-section {
  display: flex;
  align-items: center;
  gap: 50px;
}

.user-name::after {
  content: 'John Snow';
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

header button {
  all: unset;

  height: var(--button-height);

  padding: 10px 20px;

  color: var(--font-main-color);
  background-color: var(--bg-secondary-color);

  font-weight: bold;

  border-radius: 100px;

  transition-duration: 0.1s;
}

header button:hover {
  cursor: pointer;
  scale: 1.05;
  box-shadow: 2px 2px 4px var(--card-shadow-color);
}

header button:active {
  scale: 1;

  background-color: var(--secondary-active);
}

aside {
  grid-area: sidebar;

  background-color: var(--bg-secondary-color);
  box-shadow: 8px 8px 8px var(--shadow-color);

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar-header,
.sidebar-card {
  display: flex;
  justify-content: left;
  align-items: center;

  margin: 10px 0;
}

.sidebar-header {
  font-size: 16px;
}

.sidebar-card > h2 {
  font-weight: normal;
}

#sidebar-logo,
aside .icon {
  margin-right: 20px;
}

#sidebar-logo {
  width: 60px;
  aspect-ratio: 1;

  filter: drop-shadow(0 0 4px black);
}

aside .icon {
  width: 30px;
  aspect-ratio: 1;

  filter: drop-shadow(0 0 4px black);
}

aside a {
  color: var(--font-main-color);
  text-decoration: none;
}

main {
  grid-area: main;

  box-shadow: inset 8px 8px 8px var(--shadow-color);

  display: grid;
  grid-template: 1fr / 3fr 1fr;
  gap: 20px;
}

h2.section-title {
  margin-bottom: 10px;
}

.card-title {
  margin-bottom: 10px;
}

.projects-section {
  grid-area: 1 / 1 / 2 / 2;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.projects-container > .card {
  position: relative;

  transition-duration: 0.1s;

  padding: 15px;
  padding-bottom: 50px;

  background-color: var(--card-bg-color);

  box-shadow: 4px 4px 4px var(--card-shadow-color);

  border-left: solid 6px var(--accent-color);
  border-radius: 10px;
}

.projects-container > .card:hover {
  cursor: pointer;

  scale: 1.02;
}

.projects-container > .card:active {
  scale: 1;

  background-color: var(--card-active);
}

.projects-container > .card > .button-container {
  position: absolute;
  bottom: 10px;
  right: 10px;

  display: flex;
  gap: 20px;

  filter: drop-shadow(0 0 4px black);
}

.button-container img {
  width: 30px;
  aspect-ratio: 1;
}

.right-sidebar {
  grid-area: 1 / 2 / 2 / 3;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.announce-section {
  grid-area: announce;
}

.announces-container {
  display: flex;
  flex-direction: column;

  padding: 15px;

  background-color: var(--bg-secondary-color);

  box-shadow: 4px 4px 4px var(--card-shadow-color);

  border-radius: 10px;
}

.announces-container > .card {
  padding: 10px;

  border-top: 1px dashed var(--font-secondary-color);
  border-bottom: 1px dashed var(--font-secondary-color);
}

.announces-container > .card:first-child {
  padding-top: none;
  border: none;
}

.announces-container > .card:last-child {
  padding-bottom: none;
  border: none;
}

.trending-section {
  grid-area: trending;
}

.trending-container {
  display: flex;
  flex-direction: column;

  background-color: var(--bg-secondary-color);

  box-shadow: 4px 4px 4px var(--card-shadow-color);

  border-radius: 10px;
}

.trending-container > .card {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;

  padding: 10px;
}

.trending-container > .card > img {
  height: 40px;
  aspect-ratio: 1;

  filter: drop-shadow(0 0 4px black);
}